h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 28px;
    color: #ffffff;
    text-shadow: 1px 1px #bbbbbb;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: fit-content;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 28px;
    color: #ffffff;
    text-shadow: 1px 1px #bbbbbb;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    color: red;
    font-family: sans-serif;
}

.topnav {
    max-width: 1000px;
    margin: 50px auto; /* center horizontally and add spacing top/bottom */
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.2); /* translucent overlay */
    border-radius: 15px;
    backdrop-filter: blur(10px); /* softens GIF behind */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/72/18/a1/7218a1302960c48611e068302450c2a6.gif');
    background-size: cover;        /* make it cover whole viewport */
    background-repeat: no-repeat;  /* prevent repetition */
    background-position: center;   /* center the GIF */
    background-attachment: fixed;  /* stays in place when scrolling */
}
